<% if @email.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @email.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @email do |f| %>
  <div class="col-md-7 col-sm-6 col-sm-offset-1 col-md-offset-0">
    <%= f.text_field :email, :class => "form-control input-lg",  placeholder: "Enter your email" %>
  </div>
  <div class="col-md-5 col-sm-4">
    <%= f.submit "Submit Listing", :class => "btn btn-success btn-lg" %><br />
  </div>
<% end %>